[2021-01-17 17:42] jdvp opened #1 "A few questions"
Hey @eschlenz,
I discovered this plugin through your [article](https://medium.com/building-ibotta/ibottas-solution-for-aop-weaving-on-android-944a432294c5) while actually trying fix a problem with [another plugin](https://github.com/Archinamon/android-gradle-aspectj) (lol) by getting away from said plugin, since I was trying to fix my own AOP Sample Application bc new views on one of my [older art

[2021-01-17 17:44] jdvp commented on #1
Or also before I forget, the plugin directive:
`com.ibotta:plugin`
is a little vague and may cause issues if you want more ibotta plugins later. I'm not too familiar with plugins but you may want to consider renaming it at some point
`com.ibotta:aspectj-plugin `

[2021-01-17 18:07] eschlenz commented on #1
Hey there @jdvp,

Happy to hear you were able to use our plugin successfully! In response to your questions:

1. At this time, I personally am the one who did the majority of this work on this plugin, and pushed to open source it. That being said, we have a pretty good sized Android team who _could_ help maintain this in the future. Would that happen if I left? I'd hope so, but I honestly can't pr

[2021-01-17 18:17] jdvp commented on #1
@eschlenz Thanks for the quick reply. This all makes a lot of sense to me, so I'm going to update my article's example and project with the Ibotta plugin as a replacement for what I had before.

The bytecode pipeline is pretty interesting so I'll also take a look into it, I never even knew it existed. But I guess that's true for a lot of things that are hidden away in gradle and android builds!

I

[2021-01-17 18:17] #1 closed

[2021-01-18 02:35] jdvp opened #2 "aopWeave filter option is broken or misleading"
In the README, the following way of limiting which aspects are weaved is given:
[code]

In the sample apps, this filter value is `"com/ibotta/gradle/aop"`. Based on the README, I expected that changing this to some other random package, which is not specified in the project at all (such as `"com/jdvp/fake"`) would ensure that no aspects are weaved at all, since the filter would never be matched.

[2021-01-18 15:15] eschlenz commented on #1
It is! We hadn't heard of it either until our Gradle reps pointed us in that direction. In hindsight, it makes sense that such a feature exists.

[2021-01-29 17:54] eschlenz commented on #2
@jdvp So sorry for the late reply. I must have missed the email notification from Github.

A little background on why this feature exists. We were finding that without the filter, AspectJ was hunting everywhere for Aspects. This wasn't really what we wanted, as it's unnecessary, and we wanted AspectJ to focus on a certain area of the codebase.

My understanding of `-aspectpath` is that is not addi

[2021-01-29 22:44] jdvp commented on #2
@eschlenz No worries, thanks for getting back to me!

I was also confused on the parameters, because this quote

from [here](https://www.eclipse.org/aspectj/doc/next/devguide/printable.html#classpathInpathAndAspectpath) mentions that inpath can have aspects but it doesn't really mention if there is a way to turn that on or off or whether aspects on the inpath will always be woven

[2021-02-02 16:02] eschlenz commented on #2
@jdvp I did some more research on this to get some clarification, and also remembered something that is relevant here.

First of all, the difference between `aspectpath` and `inpath` is just whether the binaries found in either _may be_ modified (woven) as part of the weave output. Binaries in the `aspectpath` are not modified, but are used as a source of weaving information for target classes. `i

[2021-02-10 14:57] kzsolti opened #3 "KAPT incremental annotation processing is broken with the plugin added to the build"
Hi! I've found this plugin after checking out @jdvp's writeup about switching AOP plugins. We're having the exact same issues he had in our project, so I tried out the Ibotta plugin to see if it's a viable replacement for us too. Unfortunately I ran into some issues.

It seems like that KAPT incremental processing breaks when this plugin is added in alongside it. Everything works fine on the first

[2021-02-10 15:11] eschlenz commented on #3
@kzsolti Thanks for the report. I'll take a look now and see if I can figure out what's going on. Just a heads up, I might have to reach out to our Gradle counterparts if it's not obvious. They might have a better understanding of why this might be happening. I'll get back to you shortly.

[2021-02-10 17:16] eschlenz commented on #3
@kzsolti

I was able to reproduce the issue with your example straight away.

In order to diagnose and potentially fix it further, I'd like to reproduce the problem in the sample apps of this project. However, so far, I've been unsuccessful in reproducing the problem. I have created a branch with the changes here: https://github.com/Ibotta/gradle-aspectj-pipeline-plugin/tree/feature/es_broken_kapt

[2021-02-10 19:03] kzsolti commented on #3
@eschlenz

I took a look at your branch, tried a few things, but I can't immediately reproduce my issue with it either. It looks like you've added KAPT just like I did, and if I set `kapt.verbose=true` I can see that the change in `JavaAspect` triggers the incremental annotation processing step. It's not obvious what the significant difference between our apps is here... I'll dig into this more to

[2021-02-11 10:15] kzsolti commented on #3
@eschlenz

So far I'm still unable to break the `sample-mixed` module that you tried to reproduce with, but I was able to successfully produce the issue by transplanting my sample code into a new module in your project. You can find it here in my fork on the same branch: https://github.com/kzsolti/gradle-aspectj-pipeline-plugin/tree/feature/es_broken_kapt_test/sample-broken-kapt

I took my code, w

[2021-02-11 11:06] kzsolti commented on #3
@eschlenz update:

I broke it! I figured out how to break your sample module! 😁 There's no need to muck around with the build script or gradle beyond adding KAPT, all it took was adding a class field to `JavaAspect`: https://github.com/kzsolti/gradle-aspectj-pipeline-plugin/commit/fae69ad63309ab1da4d2fbe43f9e4fcb7b79cccf

Now it breaks just like my sample when you modify the class and recompile.

[2021-02-11 15:00] eschlenz commented on #3
Nice, I can confirm that worked for me as well. Thank you. I'll report back soon.

[2021-02-11 19:46] eschlenz commented on #3
Whatever the issue is, it's not obvious, at least to me. I'm going to see if I can get some more 👀 🧠 on this issue. I'll report back.

[2021-02-12 22:05] eschlenz commented on #3
Still researching this. I've been working with people from Gradle who are giving me some ideas. Probably won't make much more progress before Monday though. Just fyi

[2021-02-15 21:36] eschlenz commented on #3
@kzsolti

Hey, good news! With the help of Gary @ Gradle we were able to implement a solution to your reported issue. The fix was released as version `1.1.0`: [here](https://plugins.gradle.org/plugin/com.ibotta.gradle.aop).

I confirmed the fix in a few places, including the sample code you provided. Can you give it a try and report back please? Thanks

[2021-02-16 14:09] kzsolti commented on #3
Thanks @eschlenz , I can confirm this issue is solved for my samples, and our main project as well! The incremental behavior works fine now.

[2021-02-16 15:04] eschlenz commented on #3
Glad to hear it! I'll close this issue out.

[2021-02-16 15:04] #3 closed

[2021-02-16 15:07] eschlenz commented on #2
Not 100% sure what to do with this issue, but I do see the thumbs up in my last response. I'll close this out for now, but be on the lookout for any future issues that may have anything to do with this.

[2021-02-16 15:07] #2 closed

[2021-02-16 16:53] jdvp commented on #2
@eschlenz  That totally makes sense. Thanks again!

[2021-03-05 12:35] anandur91 opened #5 "IllegalStateException - not working with firebase/google play-service dependency."
Plugin not working in a project with firebase/google play-service dependency.

Steps to reproduce:

Add below dependency and run the app
implementation 'com.google.firebase:firebase-auth:20.0.3'

Actual Result:
Run time error : Application class not found in dex path list
AOP log error
`java.lang.IllegalStateException: Expecting .,<, or ;, but found - while unpacking <MessageType:Lcom/google/andro

[2021-03-05 21:54] vdelricco commented on #5
Hi @anandur91!

Thanks for filing an issue.

I attempted to reproduce with the sample apps we've included in this project, but had no luck.
I'm wondering if there are any extra steps to repro than simply including the dependency.

Since your issue is producing an AOP error log, perhaps you are attempting to annotate a method in your codebase that contains Firebase code?

Ideally we can add a small

[2021-03-06 07:27] anandur91 commented on #5
Hi @vdelricco

Thanks for looking into this. Below added my code where all the time able to reproduce this

**gradle-wrapper.properties**

`distributionUrl=https\://services.gradle.org/distributions/gradle-6.5-all.zip`

**project build.gradle**

[code]

**app build.gradle**

[code]

**AspectLogging class**

[code]

**Note: Firebase dependency is just added and not using anywhere in the demo app.**

[2021-03-06 11:40] kriegaex commented on #5
@vdelricco, actually @anandur91 asked about this problem on StackOverflow too and I wrote an [answer](https://stackoverflow.com/a/66501959/1082681) which you might want to read, explaining why AspectJ has problems with unexpected hyphens in obfuscated package names and why your plugin might have problems which the Freefair plugin does not have due to your tight integration into the Android bytecod

[2021-03-08 18:45] vdelricco commented on #5
Thank you for the extra info @anandur91, we'll try some more things to reproduce the issue.

Also appreciate the extra extra info @kriegaex 😄 That's super interesting and will most likely come in very handy when we fix this.

Will come back to this thread when I have some more information to share.

[2021-03-10 01:48] vdelricco commented on #5
Hi @anandur91, I believe I have a solution to your issue.

I was able to reproduce your issue within our included sample app by commenting out [this line that sets a filter for our plugin](https://github.com/Ibotta/gradle-aspectj-pipeline-plugin/blob/develop/sample-mixed/build.gradle.kts#L65).

Without specifying a filter, all of the classes on the classpath will be searched for aspect annotations

[2021-03-10 02:41] kriegaex commented on #5
I do not even use Gradle, I build all my AspectJ applications with Maven. I just wanted to help the OP a bit here. Anyway, I have a few general questions with regard to filtering which are note explained anywhere here (I also searched for sample code throughout the repository):

- Does the filter have to be a string?
- Is there a way to define a negative filter like "look anywhere but here" or a b

[2021-03-11 17:07] eschlenz commented on #5
@kriegaex

The filter option _is_ documented in the project root readme. At this time, we have no immediate plans to expand the functionality of the filter. That's not to say we won't, we just haven't had a need up to this point.

Also, just a reminder, open source contributions are always welcome.

[2021-04-02 14:47] #5 closed

[2021-04-04 04:58] kriegaex commented on #5
Yeah, that's why the OP switched to another build plugin instead of using yours. The readme _mentions_ the filter, but does not say that it is _necessary_ because your plugin ignores pointcuts like `within()` or `!within()`, forcing users to specify them again as a build plugin filter, only with limited functionality, i.e. they cannot express the same filter criteria, only more unspecific ones. Yo

[2021-04-04 14:19] eschlenz commented on #5
Thanks for the feedback.

[2021-05-10 11:47] ForLovelj opened #6 "java.lang.RuntimeException: Unable to instantiate application"
Have you tested the use of the plugin in Multidex?
In Multidex I get this exception.

[2021-05-10 14:30] eschlenz commented on #6
Hey @ForLovelj, do you have the full stacktrace?

To answer your question, yes. We use it in our Ibotta app, which has multidex enabled. If I can see the details of your stacktrace, I may be able to help further assist you.

[2021-05-10 14:45] ForLovelj commented on #6
@eschlenz
In the large project Multidex mode, it is possible that Application is not driven into the main dex.

[2021-05-10 14:53] eschlenz commented on #6
@ForLovelj Do you have a sample application you can share that demonstrates the problem? Also, what minimum version of Android are you trying to use this plugin for?

We have not tested this on anything below Android API level 21.

[2021-05-11 02:23] ForLovelj commented on #6
@eschlenz This is the error log,Sorry, I can't share my code, I can't duplicate it on the normal program, it doesn't seem to be easy to solve, now I thinking about using the ASM implementation functionality.
`  java.lang.RuntimeException: Unable to instantiate application com.ai.test.app.App: java.lang.ClassNotFoundException: Didn't find class "com.ai.test.app.App" on path: DexPathList[[zip file "

[2021-05-11 14:14] eschlenz commented on #6
@ForLovelj Understood. If you find a way to create a sample application that reproduces the problem, please let us know.

[2021-05-14 22:24] davidwong opened #7 "Support for aspectj native syntax (aj files)"
Hi, just wanted to verify if this plugin supports aspects written in native syntax (rather than aspectj annotations). I tried to add an aj file to one of the samples but couldn't get it to work. I'm assuming that this is because the plugin is hooking into the "bytecode manipulation pipeline" rather than during compilation so that the aj files never get compiled.
Does this mean that the plugin can

[2021-05-14 22:28] eschlenz commented on #7
Hey @davidwong,

We do not use .aj files for our projects, and unfortunately for your case, this plugin was developed without any consideration for that. It was mainly born out of our own needs, which we thought others might benefit from.

That's not to say the plugin could never support .aj files. It just doesn't at this time. Off the top of my head, I'm not sure what the level of effort would be

[2021-05-14 22:29] eschlenz commented on #6
I'm going to close this issue. I'm sorry we weren't able to help. If you feel this should remain open, let me know.

[2021-05-14 22:29] #6 closed

[2021-05-14 22:35] davidwong commented on #7
Thanks for the quick reply (and for open sourcing this plugin). I'll have a look to see if it can be done, although my aspectj is a bit rusty!

[2021-05-14 22:35] #7 closed

[2021-05-15 03:50] jdvp opened #8 "Kotlin 1.5.0 Issues"
More of a heads up, but this plugin (and probably any AspectJ plugin) doesn't seem to play nicely with lambdas in Kotlin 1.5.0 due to changes to Single Abstract Method conversions during compilation.

As a concrete example, in my [sample AOP project](https://github.com/jdvp/AndroidAspectExample/tree/v4.2.0), if you only change kotlin_version to 1.5.0 instead of 1.4.32, the following pointcut:

[co

[2021-05-17 14:17] eschlenz commented on #8
This is sounding familiar to me. We ran into something like this, and if I remember correctly, attributed it to the new [JVM IR](https://kotlinlang.org/docs/whatsnew15.html#stable-jvm-ir-backend). We had to disable it.

@vdelricco @yoxjames Can you confirm whether what I just said is accurate?

[2021-05-17 14:25] eschlenz commented on #8
@jdvp Thanks for the heads up, and the sample app! We'll take a look a closer look at this for sure.

[2021-05-26 21:29] eschlenz commented on #8
@jdvp I've been playing around with your sample app trying to get a pointcut to match on lambdas. I used `javap` to analyze the bytecode for MainActivity.class. I can see mention of `onCreate$lambda-0` in there, and figured that would be what the pointcut should target. But it's just not working.

After reading the [Kotlin documentation](https://kotlinlang.org/docs/whatsnew15.html#lambdas-via-invo

[2021-05-26 22:43] jdvp commented on #8
@eschlenz thanks for looking into it. What you're saying about invokedynamic makes sense to me and my impressions were similar about not being really having any workaround for doing both invokedynamic and using aspectj

I also felt similarly though. I don't know if there is anything to do at this point so we can close this issue! I wonder though as Kotlin gets more and more features if we will get

[2021-05-26 22:45] eschlenz commented on #8
@jdvp Yeah, I share those concerns about the future of Kotlin + AspectJ. I'm going to keep this open until I at least document this issue on our readme. Thanks for the report!

[2021-06-18 15:55] eschlenz commented on #8
Updated documentation. Closing this out for now.

[2021-06-18 15:55] #8 closed

[2021-07-13 07:56] mlilienberg opened #9 "Impossible to waeve code into external dependencies like appcompat or okhttp"
I planned to use this library for tracing purposes to add an interceptor to okhttpclient. I guess targeting classes outside of the project is a limitation of this library, so that targeting classes within okhttp3 package is impossible. It might be good to mention this limitation and others in the README to avoid late suprises.

[2021-07-13 14:05] eschlenz commented on #9
Thanks @mlilienberg. Question for you. Do you currently have this configuration setting defined? Example:

[code]

If so, have you tried removing that filter configuration? The filter was introduced to actually avoid what you're trying to do. In other words, we found that AOP weaving was occurring on _more_ than just our own code, which was undesirable for us. Sounds like you actually want it thou

[2021-07-14 05:05] jdvp commented on #9
I think likely related to #2

[2021-07-14 12:11] bsautner commented on #9
I just happen to be working on implementing this plugin in a project that has a lot of okhttp clients and interceptors and can confirm removing the filter allows me to weave into interceptors.

[code]

` System.out: attached intercept: OkHttpClient.kt:0intercept`

[2021-07-14 12:22] bsautner opened #10 "does this impact incremental annotation processing"
Awesome plugin.  This is the second time I've had to implement an analytic / logging framework on a very large android project and plan on using AOP.  The first time i did it was with some custom gradle and loosely based on this plugin which weaves for debug logging.  https://github.com/JakeWharton/hugo

I'm under the impression the reason that plugin hasn't been maintained in years is because it

[2021-07-14 13:34] mlilienberg commented on #9
Thanks for following up on my question.
I am not setting any aopWeave configuration. But i see in aop.log that other aspects in our classpath are recognized. When i use a path to target only project specific Aspects the log looks fine and only our own Aspects are processed. For me this looks all good as i can control what Aspects should be processed but i cannot target third party dependencies in

[2021-07-14 14:16] eschlenz commented on #10
@bsautner Thanks for the kind words!

To your question: Does this break incremental annotation processing?

The answer, I believe, is _maybe_, and I'll explain why.

This plugin was actually developed specifically for our core Ibotta app to take on some tracking logic duties. We still heavily use it across many of our app modules. And, we have all of the incremental compilation features enabled th

[2021-07-14 14:22] eschlenz commented on #10
Here's a related issue from the past where we worked through KAPT incremental issues: #3

[2021-07-14 14:23] eschlenz commented on #9
Thanks all. @mlilienberg I'm going to set up a sample project locally and investigate. I'll report back.

[2021-07-14 14:39] bsautner commented on #10
Thanks, I spoke to  @jakewharton about this at a conference a few years ago and he said AOP would break incremental annotation processing which is why I asked. I'm a little optimistic that your bytecode manipulation pipeline magic may happen after that step.  Franky the ability to use aspects instead polluting a huge multi-project code base with logging callbacks is worth a slower build on the mai

[2021-07-14 14:39] #10 closed

[2021-07-14 14:45] eschlenz commented on #10
No problem. I think the approach this plugin takes is fundamentally different than the others I've come across. That certainly has created some challenges, but seems to generally work well.

And as for slower builds, yeah, there's a definite cost to weaving. But I agree, the ability to not pollute the core code base with logging/tracking concerns was the core impetus behind using AOP for us in the

[2021-07-14 18:33] eschlenz commented on #9
@mlilienberg I discovered something new (well, at lest, new to me). And I think it might be a simple solution to your particular problem. Have you looked into using `call` instead of `execution`?

As we've established, In your example code you are trying to weave the `okhttp3.OkHttpClient.Builder.build(..)` method, and therefore, the `Builder` class which is in the OkHttp3 library. Yet our plugin,

[2021-07-15 07:20] mlilienberg commented on #9
@eschlenz thanks for your investigations. You solution is great for a lot of use cases. Unfortunately it is not applicable when the main goal of using AOP is not only separation of concerns but mostly to weave code into libraries you normally have no access to.
With firebase performance or Instana we got to know about a lot of network traffic we were not aware of, because they weave code into all

[2021-07-15 20:28] eschlenz commented on #9
I totally understand, and hear what you're saying. And I agree. I've been doing more research on this today in hopes of a quick fix, but haven't had much success.

I tried including both the project classes and the OkHttp library as targets for AspectJ. While this did produce the woven bytecode classes for OkHttp, it put that output beside the project classes. And then it seems as though the origi

[2021-07-19 13:41] mlilienberg commented on #9
Thanks for all the energy you put into this SDK, even with this limitation it is already amazing. I was aiming for a quick win but if this is possible in the future, it would be awesome.

[2021-07-28 12:00] audiserg opened #11 "Don't work with Dynamic-delivery modules"
For dynamic-modules build.gradle must have:
 apply plugin: 'com.android.dynamic-feature
Try to build:
Caused by: org.gradle.api.GradleException: 'com.android.application' or 'com.android.library' plugin required.

[2021-07-28 14:43] audiserg commented on #11
I try to build  in local fr solving, but when i set `classpath files('libs/plugin-1.1.0.jar')`, result of project building is `Unable to load class 'org.aspectj.bridge.MessageHandler'`

[2021-07-28 15:44] eschlenz commented on #11
Thanks @audiserg. I don't personally have any experience with dynamic feature modules. Do you have a sample app that demonstrates the issue, and that we might be able to use to investigate? If so, I'd be happy to use that to try and figure out what the issue is, and whether or not we can find a simple fix.

[2021-07-29 07:53] audiserg commented on #11
Hi @eschlenz.  I fix issue with next strings in pipelineAopWeaverPlugin:
`46  val isDynamicLibrary = project.plugins.hasPlugin(DynamicFeaturePlugin::class.java)
48  if (!isAndroid && !isLibrary && !isDynamicLibrary)
57  val variants = if (isAndroid or isDynamicLibrary)
`
I tested with local Maven Repo and this solution is work. I am not sure, is this best  solution. You can check with  this public

[2021-07-29 08:15] audiserg commented on #11
Seems i was hasty. My solution don't work with two dynamic-modules

[2021-07-29 14:03] eschlenz commented on #11
@audiserg I got a few emails from you/GitHub last night, but it looks like the last comment about your fix not working was possibly deleted. Did your solution work for you? If so, we can talk about next steps to incorporate it into the plugin formally, and get a new release out.

[2021-07-30 05:19] audiserg commented on #11
@eschlenz Yes, adding  aopWeave in every build.gradle  in modules and changes in my previous message help me.
Without filtering I have a error from AspectJ in AOP.log ,when Aspect process google classes. You can contact me via email rivno@mail.ru

[2021-08-11 16:08] david-blacnet opened #12 "Plugin seems to make Jacoco Coverage not including coverage from unit tests"
Hi,

I seem to be having a problem in my Android library project. I am trying to create tests for a project that uses code that is hard to test. So, I restructured some of the old code using AspectJ and your plugin. But, when it comes time to generate the coverage report. It keeps on returning 0%, even though when I generate coverage in IntelliJ IDEA it's giving me >0%.

This is the build.gradle t

[2021-08-11 16:40] eschlenz commented on #12
@david-blacnet

Thanks for the kind words! This issue of Jacoco reporting 0% actually sounds really familiar. I think we ran into this at Ibotta with our core app.

I guess the good news is, that I don't believe it's because of what our plugin is doing. Our coverage reports are working as expected. I just ran tests in one of our app modules and produced the following report. Note, that `AccountPre

[2021-08-11 17:18] vdelricco commented on #12
Thanks for the tag @eschlenz, I think what you suggested would be good to try regarding the jacoco android plugin.

@david-blacnet the other thing I'll mention is that the [0.8.7 release](https://github.com/jacoco/jacoco/releases/tag/v0.8.7) of Jacoco fixed a lot of issues related to code coverage with Kotlin.
When we updated our `toolVersion` to 0.8.7 like in your example, I found that we were no

[2021-08-12 02:44] davidlbudiman commented on #12
@eschlenz and @vdelricco thanks for your suggestions. I have got it working now!

[2021-08-12 13:30] eschlenz commented on #12
Glad to hear it!

[2021-08-12 13:30] #12 closed

[2022-01-20 15:45] luisjfeliu opened #15 "Migrate from JCenter"
This plugin is currently stored in the JCenter repository, which has [shutdown](https://blog.gradle.org/jcenter-shutdown).

Please migrate to MavenCentral or equivalent so that builds/pipelines do not break.

[2022-01-20 17:23] eschlenz commented on #15
We publish only to the Gradle Plugin Repository. Not JCenter. @luisjfeliu Can you elaborate on why you feel there may be some work for us here?

[2022-01-20 20:20] luisjfeliu commented on #15
@eschlenz thanks for the quick response. If you look at the link I posted earlier (https://blog.gradle.org/jcenter-shutdown), the Gradle team says:

Also, several files in the plugin repo ([here](https://github.com/Ibotta/gradle-aspectj-pipeline-plugin/blob/develop/buildSrc/build.gradle.kts#L5), [here](https://github.com/Ibotta/gradle-aspectj-pipeline-plugin/blob/develop/build.gradle.kts#L15), and

[2022-01-20 20:22] luisjfeliu commented on #15
@eschlenz you may want to try using the ibotta aop plugin in an environment where gradle has not cached it (in order to reproduce the issue).

[2022-01-20 21:02] eschlenz commented on #15
@luisjfeliu 10-4. Thanks for the additional context! I'll take a look at this this afternoon and report back.

[2022-01-20 21:49] eschlenz commented on #15
@luisjfeliu Just opened a PR for this, FYI

[2022-01-20 22:14] #15 closed

[2022-01-20 22:16] eschlenz commented on #15
Preparing a release

[2022-01-20 22:17] luisjfeliu commented on #15
Thank you!

[2022-01-20 22:20] eschlenz commented on #15
@luisjfeliu  Ok. Should be all set! If you want to give version 1.3.0 a go, we'd love to hear back if that resolves the issue for you.

https://github.com/Ibotta/gradle-aspectj-pipeline-plugin/releases/tag/1.3.0

[2022-01-20 22:51] luisjfeliu commented on #15
Works like a charm! Thank you!

[2022-01-24 16:42] eschlenz commented on #11
Hey @audiserg. I just merged your PR after some local testing, and [released](https://github.com/Ibotta/gradle-aspectj-pipeline-plugin/releases/tag/1.3.1) it. I think we can call this issue closed now. I'll reopen if not.

Again, sorry for the delay!

[2022-01-24 16:42] #11 closed

[2022-02-14 11:12] mujeebul opened #17 "java.lang.RuntimeException: Unable to instantiate application"
I am trying to integrate the plugin into our existing android application. The build is successful but when I launch the application I got the above error and application is closed instantly. This issue is already reported [here](https://github.com/Ibotta/gradle-aspectj-pipeline-plugin/issues/6).

What I observed in the build folder is the postWeave folder does not have any code files, only packag

[2022-02-14 12:47] mujeebul commented on #17
Just after raising this issue I checked the aop.log file in build folder. There was a log telling `[error] classpath error: unable to find org.aspectj.lang.JoinPoint (check that aspectjrt.jar is in your classpath)`.

In my app the dependency `implementation "org.aspectj:aspectjrt:1.9.6"` was missing. After adding it the app runs successfully.

Please add this info in the Readme file.

[2022-02-14 13:07] #17 closed

[2022-02-14 15:25] eschlenz commented on #17
@mujeebul Added to the README. Apologies for that not already being in there, but thanks for letting us know.

[2022-03-04 04:38] jdvp commented on #17
@eschlenz Just saw this one and was wondering if the plugin itself should just make consumers pull in the dependency by default

i.e. in the `apply` function have something like
[code]
I don't think you'd be able to use `Dependencies.ASPECT_J_RUNTIME` because plain gradle plugins don't seem to allow you to pass constants into the built plugin (like you can with `BuildConfig` in Android projects)

[2022-04-01 05:37] baolongnt commented on #9
I opened a PR that may help here
https://github.com/Ibotta/gradle-aspectj-pipeline-plugin/pull/18

My need is that I wrote a library that contains the AspectJ rules + UI to instrument code that is in our other apps.

[2022-04-21 03:44] allen218 opened #19 "It cannot use in the library of android"
When I use the @aspect annotation that intercept the function of app library in library, it cannot work. Please help!

[2022-04-21 14:41] eschlenz commented on #19
Thanks for the note. This looks like a duplicate for #9. We haven't found a solution for this yet, unfortunately.

[2022-04-24 00:39] sdes5317 opened #20 "beakpoint not working in some folder name"
I'm using android stuido debug mode, and found some case that breakpoint not working.
in my sample,i add a breakpoint in InjectSample.java line 14.
when the file in folder name "OneFolder", breakpoint not working, but seen inject is success(Log.e("test","test success") has been invoke).
if i move files(InjectSample.java,InjectSpan.java,JavaTargetExample.java) to folder name "OneFo", breakpoint is

[2022-04-25 14:49] eschlenz commented on #20
This sounds more like an IDE issue, but I'd like to help try to reproduce it anyway. I pulled down your sample code but did not see a file named `InjectSample.java`.

I used the `sample-java` project we provide to try and reproduce it instead. I moved the `JavaAspect.java` and `JavaTargetExample.java` to a subpackage named `OneFolder`. I then tried to hit a breakpoint, which worked:
<img width="21

[2022-04-27 11:43] sdes5317 commented on #20
InjectSample.java. is in the branch `FolderNameBug`
I have tried in other computer(both ide version are the last), and `OneFolder`  breakpoint is working, but when I changed the folder to a long name like "asdasdfg34243cz", it's not working again.
I think the bug is different in other computer.
maybe is IDE issue.

I will try to use `sample-java` to do again later

[2022-04-30 03:20] sdes5317 commented on #20
Hi ,I have fork this project, and do a [Sample](https://github.com/sdes5317/gradle-aspectj-pipeline-plugin) in `sample-java`.
I have add method `injectTest` by `@Around` annotation in [JavaAspect.java](https://github.com/sdes5317/gradle-aspectj-pipeline-plugin/blob/develop/sample-java/src/main/java/com/ibotta/gradle/aop/java/JavaAspect.java), and then add breakpoint in line 25.
It's seen breakpoin

[2022-05-02 15:26] eschlenz commented on #20
How bizarre!! Thanks for the sample app. That allowed me to reproduce it. Unfortunately, I don't believe there is anything we can do to fix it.

I did some research and it sounds like the reason this happens is because the entire method is replaced in bytecode by a synthetic method. This seems to be a quirk of both AspectJ and IDEs. Here are some links to people discussing this issue:

https://you

[2022-05-06 11:59] sdes5317 commented on #20
thx!
It's Confusing, but seen the inject is working well.
I will closed the issue.

[2022-05-17 08:34] schnaps1981 opened #21 "using annotations"
Hello!
can i use this plugin in annotations style?

[2022-05-17 14:50] eschlenz commented on #21
I'm not 100% sure I understand what you mean. Can you elaborate on what it is you're trying to accomplish?

[2022-05-17 16:54] schnaps1981 commented on #21
ok. Sorry for my English, so:

 i try to create event tracker in my android app.
Events which i need to track from my business logic appears in different methods (names of kotlin-functions). So i think good solution is just create annotation class and mark necessary function in business logic
`
@Retention(AnnotationRetention.RUNTIME)
@Target(AnnotationTarget.FUNCTION)
annotation class Trigger
`

f

[2022-05-17 18:19] eschlenz commented on #21
Oh! I understand. Yes, you can absolutely target methods with your own annotation. I'll give you an example that I have working locally.

Here is the annotation class code:
[code]

Here is the aspect code:
[code]

I added these two classes to my local clone of the repo for testing inside the `sample-kotlin` module. I then modified the `KotlinTargetExample` class to look like this:
[code]

And when

[2022-05-18 03:54] schnaps1981 commented on #21
I writed @Before just @Before("@annotation(Trigger)") but need @Before("@annotation(Trigger) && execution(* *(..))")

thak you so much!

[2022-05-18 15:15] eschlenz commented on #21
Great! Happy to help.

[2022-05-19 06:46] forgetman opened #22 "about code cache."
is there have some cached things in plugin or somewhere?
i have change my packgae name, but discover the weave file is duplicate the old package code into 'preWeave' and 'postWeave' like the image.

![image](https://user-images.githubusercontent.com/8208866/169227521-d2cf1d8b-a5d6-4721-bafe-8a535bc254fc.png)

i have tried delete build folder, reopen android stuio, import project again, the result

[2022-05-19 07:23] forgetman commented on #22
my gradle version is 7.2-bin, studio version is 2020.2.1 chipmunk, build gradle is 7.1.3

[2022-05-19 14:33] eschlenz commented on #22
What happens when you run `./gradlew clean assembleDebug --no-build-cache`? Does that resolve it?

[2022-05-23 10:57] DavidIbrahim opened #23 "Build Failed in multi module project"
I added the plugin to the project as in the readme file but updated the plugin version to 1.3.1 and the aspectJ version to 1.9.9.1.
I am trying to put the Aspect file in a module, and use it in another module following this example (https://github.com/Ibotta/gradle-aspectj-pipeline-plugin/issues/21#issuecomment-1129179218)
but always face a build issue.

### The issue:
[code]

### Project build.gr

[2022-05-23 14:32] eschlenz commented on #23
Hey,

I'm not 100% sure what the issue is that you are encountering, but I don't see evidence (yet) that it is the AOP plugin.

The first reason why is that I don't see anything in the stacktrace that points to the plugin itself.

The second reason is that I was able to create a sample project that uses a module to hold the aspects, like you are trying to do. To do this, I cloned this AOP repo and

[2022-05-23 14:40] eschlenz commented on #22
@forgetman Any updates? I'm looking to resolve this issue if possible. I'll just close it out if I don't hear back within a few days. Thanks.

[2022-05-24 09:22] forgetman commented on #22
Sorry, I've changed all my Java code to Kotlin while I'm waiting for you, and the problem is gone. The scene is gone now. I can't carry out this order of yours

[2022-05-24 09:23] forgetman commented on #22
I can try your command if the problem happens again. Thank you very much.

[2022-05-24 10:18] DavidIbrahim commented on #23
I tried your commit, it's building correctly but this is not working as expected, I expected to see the messages sent from the `KotlinAspect` file too, the same behaviour as the develop branch, correct me if I am wrong
![WhatsApp Image 2022-05-24 at 12 17 42 PM](https://user-images.githubusercontent.com/31358128/170009361-1e844daa-18ae-46e5-b7be-19a73c9a5b7d.jpeg)
.

[2022-05-24 19:26] eschlenz commented on #23
You're right, my apologies. I rushed that example out too quickly. I have just updated the branch (https://github.com/Ibotta/gradle-aspectj-pipeline-plugin/tree/feature/es_aop_via_module) so that it is working correctly.

This actually took me a bit of time, as it wasn't working initially. The problem was related to our plugin's `filter` option. The `filter` concept was added after we were seeing

[2022-05-29 15:26] DavidIbrahim commented on #23
Sorry for the late response, and yes it's working both in the sample you gave and on the side project that had the issue at the beginning it is strange that it is building correctly now. Thanks @eschlenz

[2022-05-29 15:26] #23 closed

[2022-06-09 16:19] jdvp opened #24 "Kotlin 1.7.0 breaking changes"
Updating my sample project from Kotlin 1.6.21 to 1.7.0 breaks the plugin

Sample project:
https://github.com/jdvp/AndroidAspectExample

You can check out master and just update the Kt version. Prior to updating `./gradlew clean lint test` will run successfully and after updating it will fail with the following error:

[code]

This appears to be because of the following:

which is mentioned in the

[2022-06-13 19:25] #24 closed

[2022-06-13 21:13] vdelricco commented on #24
Published [1.4.0](https://github.com/Ibotta/gradle-aspectj-pipeline-plugin/releases/tag/1.4.0) which adds support for Kotlin 1.7.0.

[2022-06-14 05:28] jdvp commented on #24
@vdelricco Just checking, I noticed that 1.4.0 release notes mention that it requires Kt 1.7.0 but is that true? I tried compiling my app with Ibotta 1.4.0 and Kt 1.5.0 and it _seemed_ to work? Maybe I had some weird caching issue though

[2022-06-14 17:43] vdelricco commented on #24
Oh interesting! It's certainly possible there are some build configurations that work properly. When applying this to our main app codebase, I received the following error when using the 1.4.0 release of this plugin:

[code]

I was able to get past this by updating our kotlin version from 1.6.10 to 1.7.0 (and then faced other errors later on because we're not quite ready for 1.7.0 😅) which was the

[2022-06-23 01:45] kaki2015 opened #26 "Not available with Hilt"
I want to use your library with together the hilt(DI Library).
But, I encountered an error `Unable to instantiate application com.example.myapplication.MainApplication`.
Doesn't recognize the Application Class(MainApplication) when building.
please help me, thx.

# Reproduction

1. Create a new Project with defalt.(Empty Compose Activity)
2. Add the settings at build.gradle (Project: My_Applicatio

[2022-06-24 15:29] vdelricco commented on #26
Thanks for the issue submission @kaki2015, will report back with my findings 👀

[2022-06-27 22:07] vdelricco commented on #26
Hi @kaki2015, in the project you were attempting to add Hilt, could you try adding the following to the project build.gradle file:

[code]

In my repro setup, this caused the app to behave properly. This uses a flag which is marked deprecated so there might be some more investigation to be done here but I was wanted to see if it also solves the problem for you.

[2022-08-08 02:03] LucklyMaster opened #27 "class.jar is occupied"
build\intermediates\compile_library_classes_jar\debug\classes.jar、compile_and_runtime_not_namespaced_r_class_jar is always occupied  at compile time

[2022-08-08 14:08] eschlenz commented on #27
@LucklyMaster I assume you're having some kind of build issue given those messages, but it would be helpful if you could include a little more context and information. Even better, if you can share a clone of this repo that demonstrates the issue you're having, we'll be able to help even quicker.

[2022-08-12 18:30] #27 closed

[2022-08-16 19:46] th-jtullgren opened #28 "Question: Can this produce aspect binary jars?"
Hi,

Can this project produce binary aspects for consumption and weaving in other projects? IE not weave the current project but rather compile the aspects to a jar.

Its different from using a typical AJ plugin in a traditional java project because we wish to write aspects to weave calls to the AOSP and Androidx libs.  Your plugin seems to already have figured out how to load the android SDK into

[2022-08-17 15:02] eschlenz commented on #28
Hi @th-jtullgren, I believe others have tried and failed to do what you'd like using our plugin. A path towards supporting it also has not presented itself yet. We tried a couple things, but ultimately gave up on this idea for now. If you somehow are able to make it work, and want to contribute back, we'd be open to that.

[2022-08-17 17:01] th-jtullgren commented on #28
@eschlenz Thanks for letting me know!

[2022-08-17 17:01] #28 closed

[2022-09-02 17:02] DengFX2010105421 opened #29 "System.err: java.lang.NoSuchMethodError: No static method aspectOf()Lcom/jidu/lib/data_engine/FragmentViewAspect; in class Lcom/jidu/lib/data_engine/FragmentViewAspect; or its super classes"
<img width="1294" alt="image" src="https://user-images.githubusercontent.com/18223118/188203166-2c1b4f3e-7ec3-4e83-9fa4-346f1d1d1ae4.png">

[2022-09-07 02:45] jdvp commented on #29
@DengFX2010105421 can you point to a sample project to see this issue or able to reproduce in sample? Being able to see code would be helpful in triaging

[2022-09-09 13:10] Sunar commented on #26
@vdelricco I've encountered same error and that setup for Hilt fixed the problem. Thanks!

[2022-09-19 21:06] tw-lfeliu commented on #29
This error is unrelated to the ibotta aspectj plugin. The error was thrown on the user's code. @DengFX2010105421 you probably need to invalidate the gradle cache and re-build your app.

@jdvp I recommend closing out this issue.

[2022-09-19 21:11] luisjfeliu commented on #29
This error is unrelated to the ibotta aspectj plugin. The error was thrown on the project's code. @DengFX2010105421 you probably need to invalidate the gradle cache and re-build your app.

@jdvp I recommend closing out this issue.

[2022-09-26 10:11] DengFX2010105421 commented on #29
@jdvp I have solved the issue, just downgrade the version to 1.2.0, cause i use kotlin 1.6.20, while version 1.4.0 needs kotlin 1.7.x. Thanks

[2022-09-26 10:13] #29 closed

[2022-09-27 16:26] eschlenz commented on #29
Thanks, community, for helping out with this one! 👍

[2022-10-24 14:41] ibradwan opened #32 "Q: can I use this library to hook View methods?"
Hello there,

Thanks for providing this awesome library.

I'm currently interested in hooking the standard `android.view.View` class public methods. Would it be possible to do this using this library? Or does it only support the code that is being built as part of my application?

Thank you!

[2022-10-24 14:55] eschlenz commented on #32
@ibradwan Hey, at this time it can only hook your own code (not 3rd party libraries). We've had some other inquiries along the same lines in the past, and have tried a couple things to allow 3rd party library hooks but weren't successful in getting it to work.

[2022-10-24 15:01] ibradwan commented on #32
I see, thanks a lot @eschlenz.

[2022-10-24 15:01] #32 closed